body {
    margin: 0px;
    background-color: rgb(30, 30, 30);
    /* display: flex; */
}



.navDesign {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.logoColor {
    color: #e14aac;
    font-size: 18px;
}

nav {
    display: inline;
    color: white;
}

li {
    display: inline;
    padding: 20px;
    color: white;
    font-family: futura, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    cursor: pointer;
}

.navButton {
    background-color: transparent;
    border: 1px;
    color: white;
    font-family: futura, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navButton:hover {
    text-decoration: underline;
}

.accountButton {
    border-radius: 5px;
    border: 1px;
    padding: 5px 15px;
    background-color: #e14aac;
    color: white
}

.accountButton:hover {
    background-color: rgb(232, 98, 226);
    color: white
}

h3 {
    color: white;
    font-size: 30px;
}

h1,
h3,
h4,
p {
    color: white;
    font-family: futura, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 150px;
    border: solid;
    border-color: goldenrod;
    border-width: 1px;
    border-radius: 40px;
    padding: 20px;
    position: relative;
}

#headphones {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 350px;
    height: auto;
    top: -75px;
    left: -115px;
}

.musicContent {
    display: flex;
    gap: 70px
}

.music {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

figure {
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.search {
    display: flex;
    flex-flow: column;
    align-self: center;
    flex: auto;
}

.searchButton {
    background-color: transparent;
    border: 2px solid #e14aac;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #e14aac;
}



.searchAddList {
    padding: 10px;
}

.addListButton {
    background-color: transparent;
    border: 1px;
    font-size: 16px;
    color: white;
    font-family: futura, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addListButton:hover {
    font-weight: bold;
}

.searchFunction {
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

input {
    border-radius: 10px;
    width: 300px;
    height: 30px;
    z-index: 1;
    position: relative;
}

.addList {
    padding: 10px;
    border: 1px solid rgb(153, 150, 150);
    border-radius: 15px;
    /* background-color: #cdcec6; */
    background-color: #a7a7a1;
}

footer ul {
    display: flex;
    justify-content: center;
    font-size: 12px;
}





@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        margin: 5px;
        min-width: fit-content;
    }
}